.footer{
    background-color: rgb(42, 42, 42);
    margin-top: 30px;
}
.container {
    background-color: rgb(42, 42, 42);
}

.footer img {
    width: 150px;
    margin-left: 250px;
}

.icons {
    color: rgb(240, 229, 229);
    width: 200px;
    margin-left: 240px;
}
.fab {
    margin-left: 10px;
    margin-bottom: 20px;
}

.footer-services {
    margin-left: 250px;
    margin-top: 45px;
}

@media (max-width: 688px) {
    .row {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .col-lg-3 {
        position: relative;
        right: 200px;
    }
}